body {
    overflow-x: hidden;
}

nav {
    background-color: var(--c11);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

h1, h2 {
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

nav h1 {
    color: var(--c4);
}

.nav-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.nav-button {
    background-color: var(--c10);
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.nav-button:hover {
    background-color: var(--c9);
}

.nav-button:active {
    background-color: var(--c8);
}

.menu {
    position: absolute;
    background-color: var(--c11);
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding: 24px;
}

.menu.active {
    transform: translateX(0);
}

.menu-title {
    color: var(--c7);
    width: 436px;
    display: flex;
    align-items: center;
}

.menu-title button {
    position: absolute;
}

.menu-title h2 {
    margin: 0px auto;
}

.menu-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
    margin-top: 40px;
}

.menu-options p, .menu-creator p{
    color: var(--c5);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.menu-creator span {
    font-weight: 600;
    color: var(--c2);
}

.menu-options-option, .menu-creator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

#slide-value {
    width: 21px;
    text-align: right;
}

.menu-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 32px);
}

.menu-creator-links {
    display: flex;
    gap: 12px;
}

#restart-button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    margin-top: 12px;
}

#restart-button p {
    color: var(--p5);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

#bot-difficulty{
    background-color: var(--c10);
    color: var(--c7);
    font-family: Roboto;
    font-size: 18px;
    font-style: medium;
    padding: 5px;
    width: 160px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#bot-difficulty:hover {
    background-color: var(--c9);
    color: var(--c6);
}

#bot-difficulty:focus {
    outline: none;
}
